#mainContent {
  border: 0.5px black solid;
}
.queueView {
  border: 1px blue dotted;
  background-color: rgb(230,230,230);
}

.patientWaiting {
  background-color: white;
  margin: 6px;
  padding: 6px;
  border: 2px solid rgb(200,200,200);
}

.patientWaiting .patientName {
  font-weight: bold;
}

.highPriority{
  border-left: 4px solid red;
}

.mediumPriority{
  border-left: 4px solid orange;
}

.lowPriority{
  border-left: 4px solid blue;
}
>>>>>>> Stashed changes
